# frozen_string_literal: true

ActiveAdmin::AsyncExporter.configure do |config|
  ## Storage Service
  # The available options are :local, :amazon
  # default option: :local
  # config.service = :local

  ## AWS S3
  # config.aws_bucket_name = nil
  # config.aws_bucket_folder_path = nil

  ## Disk
  config.disk_folder_path = Rails.root.join('exporter')
end
