class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :admin_reports do |t|
      t.references :author
      t.foreign_key :<%= user_table_name %>, column: :author_id, primary_key: 'id'

      t.string :entity, null: false
      t.string :format, null: false, default: :csv
      t.integer :status, null: false
      t.string :location_url

      t.timestamps
    end
  end
end
