class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :admin_reports do |t|
      t.references :author

      t.string :entity, null: false
      t.string :format, null: false, default: :csv
      t.integer :status, null: false
      t.string :location_url

      t.timestamps
    end
    <%= admin_report_users_foreign_key %>
    add_index :admin_reports, :<%= user_class_name %>_id
  end
end
